:root {
    --rotateX: 0;
    --rotateY: 0;
    --rotateZ: 0;
    --opacity: 0;
}

@font-face {
    font-family: 'Doctor Glitch';
    src: url("./assets/fonts/doctorGlitch.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Doctor Glitch", Helvetica, sans-serif;
    color: white;
    background-color: black;
    position: relative;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: row;
    transform: translateX(14rem);
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 0;
}

form > label {
    width: fit-content;
    height: fit-content;
    transform: rotateZ(-90deg);
    user-select: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin: 40px -20px  0 0;
}

:root:has(input[name="openMenu"]:checked) form {
    transform: translateX(0);
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[name="openMenu"] {
    display: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

label:has(input[name="rotateX"]) {
    position: absolute;
    bottom: 50%;
    left: -5rem;
    transform: translateY(-50%) rotateZ(-90deg);
}

label:has(input[name="rotateZ"]) {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

label:has(input[name="opacity"]) {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

body > div {
    perspective: 600px;
    width: 200px;
    height: 200px;
}

body > div > div {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
}

body > div > div > div {
    width: calc(100% / 3);
    height: calc(100% / 3);
    transform-style: preserve-3d;
    transition: all 1s ease;
}

/*[data-side="front-side"],*/
/*[data-side="back-side"],*/
/*[data-side="left-side"],*/
/*[data-side="right-side"],*/
/*[data-side="top-side"],*/
/*[data-side="bottom-side"]*/

body > div > div > div div {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    opacity: var(--opacity, 0.5);
}

[data-side="front-side"] {
    background-color: red;
    transform: rotateY(0deg) translateZ(calc(100px / 3));
}

[data-side="back-side"] {
    background-color: orange;
    transform: rotateY(180deg) translateZ(calc(100px / 3));
}

[data-side="left-side"] {
    background-color: green;
    transform: rotateY(-90deg) translateZ(calc(100px / 3));
}

[data-side="right-side"] {
    background-color: blue;
    transform: rotateY(90deg) translateZ(calc(100px / 3));
}

[data-side="top-side"] {
    background-color: white;
    transform: rotateX(90deg) translateZ(calc(100px / 3));
}

[data-side="bottom-side"] {
    background-color: yellow;
    transform: rotateX(-90deg) translateZ(calc(100px / 3));
}

/***********************/

body > div > div > div:nth-of-type(4) {
    transform: translateY(-200px) translateX(calc(200px / 3));
}

body > div > div > div:nth-of-type(5) {
    transform: translateY(-200px) translateX(calc(200px / 3));
}

body > div > div > div:nth-of-type(6) {
    transform: translateY(-200px) translateX(calc(200px / 3));
}

body > div > div > div:nth-of-type(7) {
    transform: translateY(-400px) translateX(calc(200px - (200px / 3)));
}

body > div > div > div:nth-of-type(8) {
    transform: translateY(-400px) translateX(calc(200px - (200px / 3)));
}

body > div > div > div:nth-of-type(9) {
    transform: translateY(-400px) translateX(calc(200px - (200px / 3)));
}

body > div > div > div:nth-of-type(10) {
    transform: translateY(-600px) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(11) {
    transform: translateY(-600px) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(12) {
    transform: translateY(-600px) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(13) {
    transform: translateY(-800px) translateX(calc(200px / 3)) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(14) {
    transform: translateY(-800px) translateX(calc(200px / 3)) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(15) {
    transform: translateY(-800px) translateX(calc(200px / 3)) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(16) {
    transform: translateY(-1000px) translateX(calc(200px - (200px / 3))) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(17) {
    transform: translateY(-1000px) translateX(calc(200px - (200px / 3))) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(18) {
    transform: translateY(-1000px) translateX(calc(200px - (200px / 3))) translateZ(calc(-200px / 3));
}

body > div > div > div:nth-of-type(19) {
    transform: translateY(-1200px) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(20) {
    transform: translateY(-1200px) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(21) {
    transform: translateY(-1200px) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(22) {
    transform: translateY(-1400px) translateX(calc(200px / 3)) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(23) {
    transform: translateY(-1400px) translateX(calc(200px / 3)) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(24) {
    transform: translateY(-1400px) translateX(calc(200px / 3)) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(25) {
    transform: translateY(-1600px) translateX(calc(200px - (200px / 3))) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(26) {
    transform: translateY(-1600px) translateX(calc(200px - (200px / 3))) translateZ(calc(-400px / 3));
}

body > div > div > div:nth-of-type(27) {
    transform: translateY(-1600px) translateX(calc(200px - (200px / 3))) translateZ(calc(-400px / 3));
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(7) {
    transform: translateY(-400px) translateX(calc(200px - (200px / 3))) translateZ(calc(-400px / 3)) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(8) {
    transform: translateY(-466px) translateX(calc(200px - (200px / 3))) translateZ(calc(-200px / 3)) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(9) {
    transform: translateY(-533px) translateX(calc(200px - (200px / 3))) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(16) {
    transform: translateY(-933px) translateX(calc(200px - (200px / 3))) translateZ(calc(-400px / 3)) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(17) {
    transform: translateY(-1000px) translateX(calc(200px - (200px / 3))) translateZ(calc(-200px / 3)) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(18) {
    transform: translateY(-1066px) translateX(calc(200px - (200px / 3))) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(25) {
    transform: translateY(-1466px) translateX(calc(200px - (200px / 3))) translateZ(calc(-400px / 3)) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(26) {
    transform: translateY(-1533px) translateX(calc(200px - (200px / 3))) translateZ(calc(-200px / 3)) rotateX(90deg);
}

:root:has(input[name="rotateSide"]:checked) body > div > div > div:nth-of-type(27) {
    transform: translateY(-1600px) translateX(calc(200px - (200px / 3))) rotateX(90deg);
}