@font-face {
    font-family: 'Doctor Glitch';
    src: url("../assets/fonts/doctorGlitch.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Techno Hideo';
    src: url("../assets/fonts/techno_hideo.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Techno Hideo Bold';
    src: url("../assets/fonts/techno_hideo_bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}