/*FIRST ROTATE*/
:root:has([name="step3"]:checked) main > div > div:nth-child(-n + 9) {
    --ry: 0;
}

/*SECOND ROTATE*/

:root:has([name="step2"]:checked) main > div > div:nth-child(2) {
    --rx: 0;
}

:root:has([name="step2"]:checked) main > div > div:nth-child(5) {
    --rx: 0;
}

:root:has([name="step2"]:checked) main > div > div:nth-child(8) {
    --rx: 0;
}

:root:has([name="step2"]:checked) main > div > div:nth-of-type(n+13):nth-of-type(-n+15) {
    --rx: 0;
}

:root:has([name="step2"]:checked) main > div > div:nth-of-type(n+22):nth-of-type(-n+24) {
    --rx: 0;
}


/*!* THIRD ROTATE *!*/

:root:has([name="step1"]:checked) main > div > div:nth-of-type(2) {
    /*--rz: 1;*/
    /*--rx: -1;*/
    --ry: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(13) {
    --rz: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(19) {
    --ry: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(20) {
    --ry: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(21) {
    --ry: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(22) {
    --rz: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(25) {
    --ry: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(26) {
    --ry: 0;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(27) {
    --ry: 0;
}