/*FIRST ROTATE*/
:root:has([name="step3"]:checked) main > div > div:nth-child(-n + 9) {
    --ry1: -1;
}

/*SECOND ROTATE*/

:root:has([name="step2"]:checked) main > div > div:nth-child(2) {
    --rz2: -1;
}

:root:has([name="step2"]:checked) main > div > div:nth-child(5) {
    --rz2: -1;
}

:root:has([name="step2"]:checked) main > div > div:nth-child(8) {
    --rz2: -1;
}

:root:has([name="step2"]:checked) main > div > div:nth-of-type(n+13):nth-of-type(-n+15) {
    --rx2: 1;
}

:root:has([name="step2"]:checked) main > div > div:nth-of-type(n+22):nth-of-type(-n+24) {
    --rx2: 1;
}


/*!* THIRD ROTATE *!*/

:root:has([name="step1"]:checked) main > div > div:nth-of-type(2) {
    --rx3: -1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(13) {
    --rz3: -1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(19) {
    --ry3: 1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(20) {
    --ry3: 1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(21) {
    --ry3: 1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(22) {
    --rz3: -1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(25) {
    --ry3: 1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(26) {
    --ry3: 1;
}

:root:has([name="step1"]:checked) main > div > div:nth-of-type(27) {
    --ry3: 1;
}